<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja konta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>Rejestracja konta</header>
    <nav>
        <div class="link">
            <a href="{{url_for('strona_glowna')}}">Strona główna</a>
            <a href="{{url_for('zapytaj')}}">Zapytaj AI</a>
            <a href="{{url_for('analiza')}}">Analiza danych</a>
            <a href="{{url_for('streszcz')}}">Streszcz tekst</a>
        </div>
            <div class="user-log">        
                {% if session.get("nazwa_uzytkownika") %}
                    <span>Zalogowany: {{ session.get("nazwa_uzytkownika") }}</span>
                    <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
                    <a href="{{ url_for('ustawienia') }}">Ustawienia</a>
                {% else %}
                    <a href="{{ url_for('logowanie') }}">Zaloguj</a>
                    <a href="{{ url_for('rejestracja') }}">Rejestracja</a>
                {% endif %}
        </div>
    </nav>
    {% if blad %}
        <p>{{ blad }}</p>
    {% endif %}
    <main class="container">
        <form method="post" action="{{ url_for('rejestracja') }}">
            <label for="nazwa_uzytkownika">Nazwa użytkownika: </label>
            <input type="text" id="nazwa_uzytkownika" name="nazwa_uzytkownika" required autocomplete="username"><br>
            <label for="haslo">Hasło: </label>
            <input type="password" id="haslo" name="haslo" minlength="8" required autocomplete="new-password"><br>
            <input type="checkbox" required name="zgoda-ai" id="zgoda-ai"><label class="check" for="zgoda-ai">
                Rejestrując się, akceptujesz, że treść Twoich zapytań i przesyłanych plików będzie przetwarzana przez zewnętrzny model AI (Claude, firmy Anthropic) w celu wygenerowania odpowiedzi.
            </label><br>
            <input type="checkbox" required name="zgoda-politykaprywatnosc" id="zgoda-politykaprywatnosc"><label class="check" for="zgoda-politykaprywatnosc"><a href="{{ url_for('polityka_prywatnosci') }}">Polityka prywatności</a></label><br>
            <button type="submit">Zarejestruj się</button>
        </form>
        <p>Masz już konto?<a href="{{ url_for('logowanie') }}"> Zaloguj się</a></p>
    </main>
    <footer>
        <a href="/polityka-prywatnosci">Polityka prywatności</a>
    </footer>
</body>
</html>
