<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapytaj AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="link">
            <a href="{{url_for('')}}">Strona główna</a>
            <a href="{{url_for('analiza')}}">Analiza danych</a>
            <a href="{{url_for('streszcz')}}">Streszcz tekst</a>
        </div>
        <div class="user-log">        
            {% if session.get("nazwa_uzytkownika") %}
                <span>Zalogowany: {{ session.get("nazwa_uzytkownika") }}</span>
                <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
                <a href="{{ url_for('ustawienia') }}">Ustawienia</a>
            {% else %}
                <a href="{{ url_for('logowanie') }}">Zaloguj</a>
                <a href="{{ url_for('rejestracja') }}">Rejestracja</a>
            {% endif %}
        </div>
    </nav>
    <main class="container">
        <h1>Zapytaj AI</h1>
        <form action="/zapytaj" method="POST">
            <input type="hidden" name="styl" value="{{ styl }}">
            <textarea name="pytanie" id="pytanie" rows="4" placeholder="Wpisz swoje pytanie..."></textarea>
            <button type="submit">Wyślij</button>
        </form>
        <div class="answer-box">{% if odpowiedz %} <p>{{ odpowiedz }}</p> {% else %} <p>Tutaj pojawi się odpowiedź AI.</p> {% endif %}
        </div>
    </main>
</body>
</html>
